# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

MARK-Tool/MARK-Tool/repos/

MARK-Tool/MARK-Tool/Functional_Test/exec_analysis_test/Test_input/

RQs/
