#loading-popup-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loading-popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    width: 40%;
    aspect-ratio: 16 / 9;
}

#loading-popup-top-bar {
    position: relative;
    text-align: right;
    width: 100%;
    height: 20%;
    display: inline-block;
}

#loading-popup-top-bar-close-button {
    display: inline-block;
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 5px;
    box-sizing: border-box;
    position: relative;
}

.close-button-cross {
    position: absolute;
    display: inline-block;
    margin: 0;
    background-color: #2C3E50;
    width: 65%;
    height: 2px;
    top: 50%;
    left: 50%;
}

#loading-popup-top-bar-close-button:hover .close-button-cross {
    filter: brightness(150%);
}

#loading-popup-top-bar-close-button:active .close-button-cross {
    filter: brightness(200%);
}

#cross-1 {
    transform: translate(-50%, -50%) rotateZ(45deg);
}

#cross-2 {
    transform: translate(-50%, -50%) rotateZ(-45deg);
}

#loading-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.spinner {
    display: inline-block;
    width: 10%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
    border: 5px solid #2C3E50;
    border-top-color: transparent;
    animation: spin 0.8s ease-in-out infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}