.tabbed-pane {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.tabs-container {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid #000;
    background: #fff;
    position: relative;
}

.tab {
    padding: 8px;
    border: 1px solid #000;
    border-bottom: none;
    display: inline-block;
    border-right: 1px solid #000;
    cursor: pointer;
    background: #f5f5f5;
    position: relative;
    z-index: 1;
}

.tab:last-child {
    border-right: 1px solid #000;
}

.tab:last-child.tab-active {
    border-right: 1px solid #000;
}

.tab-active {
    background: #fff;
    border: 1px solid #fff;
    border-bottom: none;
    z-index: 2;
    /* Overlap the tabs-container border */
    margin-bottom: -1px;
}

.tab-window {
    flex: 1;
}