<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/output.css">
</head>
<body>
    <div class="tables-wrapper">
        <fieldset class="titled-border">
            <legend>Consumers</legend>
            <div class="inner-border">
                <table>
                    <caption>CSV File</caption>
                    <tr>
                        <td>consumer_data1.csv</td>
                    </tr>
                    <tr>
                        <td>consumer_data2.csv</td>
                    </tr>
                    <tr>
                        <td>consumer_list.csv</td>
                    </tr>
                </table>
            </div>
        </fieldset>
        <fieldset class="titled-border">
            <legend>Producers</legend>
            <div class="inner-border">
                <table>
                    <caption>CSV File</caption>
                    <tr>
                        <td>producer_data1.csv</td>
                    </tr>
                    <tr>
                        <td>producer_data2.csv</td>
                    </tr>
                    <tr>
                        <td>producer_list.csv</td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </div>
</body>
</html>